certifi==2020.6.20
chardet==3.0.4
lxml==4.5.2
numpy==1.19.1
pandas==1.1.0
pdfminer.six==20200104
pdfplumber==0.5.22
Pillow==7.2.0
pycryptodome==3.9.8
pypiwin32==223
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2020.1
pywin32 @ file:///D:/python-%E5%8C%85/pywin32-228-cp37-cp37m-win_amd64.whl
six==1.15.0
sortedcontainers==2.2.2
unicodecsv==0.14.1
Wand==0.6.2
wincertstore==0.2
